@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1 : #2C3E50;
  --primary-2 : #4A6D8C;
  --primary-3 : #A4C8E1;
  --primary-4 : #D1E8F2;
  --primary-5 : #F4F9F9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-1 : #2C3E50;
    --primary-2 : #4A6D8C;
    --primary-3 : #A4C8E1;
    --primary-4 : #D1E8F2;
    --primary-5 : #F4F9F9;
  }
}

body {
  color: white;
  background: var(--primary-3);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  @apply font-m1 
}

.font-h1{
  @apply tracking-wider text-3xl font-semibold
}

.font-b1{
  @apply tracking-wider text-lg
}

.font-m1{
  @apply tracking-wider text-lg
}

.clsHowToOrderTable{
  tr td{
    @apply p-[.2em]
  }
}

/* Style for all unordered lists */
.description ul {
  list-style-type: square;  /* Change bullets to square */
  padding-left: 20px;       /* Adjusts indentation */
}

/* Style for all ordered lists */
.description  ol {
  list-style-type: decimal; /* Standard numbers for ordered lists */
  padding-left: 20px;       /* Adjusts indentation */
}

/* Style for all list items inside ul and ol */
.description  li {
  margin-bottom: 8px;  /* Adds space between list items */
}

@layer components {
  .navbarButton {
    @apply font-m1 text-center bg-primary4 text-primary1 hover:bg-primary2 hover:text-primary4  content-stretch items-stretch h-full text-center
  }
  
  .button {
    @apply block outline outline-primary2 -outline-offset-[.5em] p-[1em] rounded-xl hover:outline-primary3
  }
}
